/* Brennan Wilkes */

.loadingCog{
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform;
}

.loadingCog:active, .loadingCog, .loadingCog:focus{
	outline: none;
	box-shadow: none;
}

.loadingCog:hover{
	cursor: default !important;
}
